@font-face {
    font-family: "TPFrank";
    font-weight: 400;
    src: url(../fonts/tpfrank-regular.eot);
    src: url(../fonts/tpfrank-regular.eot#?iefix) format("embedded-opentype"),
         url(../fonts/tpfrank-regular.woff) format("woff"),
         url(../fonts/tpfrank-regular.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}

.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0;
}

.center { text-align: center !important; }
.left { text-align: left !important; }
.right { text-align: right !important; }
.top { vertical-align: top !important; }
.middle { vertical-align: middle !important; }
.bottom { vertical-align: bottom !important; }
.float.right { float: right; }
.float.left { float: left; }

body {
    background: rgb(255, 255, 255);
    font-family: "TPFrank";
    font-weight: 400;
    font-size: 16px;
    color: rgb(35, 35, 35);
    height: 100%;
    margin: 10px 16px;
}

h2 {
    font-size: 28px;
    border-left: 5px solid rgb(200, 200, 200);
    padding-left: 20px;
    margin: 0.85em 0;
}

h2:not(:first-child) { margin: 1.75em 0 0.85em; }

.material-icons {
    font-size: inherit;
    vertical-align: middle;
}

.sign {
    font-family: "TPFrank";
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 10px;
}

.sign .material-icons { font-size: 50px; }

.sign.station_name {
    background-color: rgb(241, 86, 26);
    padding: 12.5px 20px;
    text-align: center;
}

.sign.station_name.alternate {
    background-color: rgb(35, 35, 35);
    border-top: 5px solid rgb(241, 86, 26);
    padding: 10px 20px;
}

.sign.platform_sign {
    padding: 30px 40px;
    border-left: 5px solid rgb(251, 86, 26);
    border-right: 5px solid rgb(251, 86, 26);
}

.sign.platform_sign .platform_sign_text {
    margin-left: 10px;
    vertical-align: middle;
}

.sign.platform_sign.platform_number {
    display: inline-block;
    padding: 30px 20px;
    text-align: center;
}

.sign.platform_sign .platform_sign_number {
    font-size: 102px;
}

.sign.platform_sign.platform_lines {
    padding: 30px 80px;
}

.sign.train_line {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 60px;
    padding: 10px;
    border-radius: 15px;
}

.train_line.line_t1  { background: rgb(241, 141, 0); }
.train_line.line_t2  { background: rgb(77, 156, 45); }
.train_line.line_t3  { background: rgb(242, 103, 43); }
.train_line.line_t4  { background: rgb(0, 130, 189); }
.train_line.line_t5  { background: rgb(195, 74, 153); }
.train_line.line_t6  { background: rgb(54, 96, 147); }
.train_line.line_t7  { background: rgb(154, 164, 169); }

.sign.services {
    display: inline-block;
    font-size: 60px;
    padding-top: 7px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}

.services.service_train { background: rgb(246, 143, 30); }
.services.service_bus   { background: rgb(0, 178, 239); }
.services.service_ferry { background: rgb(0, 170, 91); }
.services.service_tram  { background: rgb(236, 26, 59); }

.monitor {
    font-family: "TPFrank";
    color: rgb(35, 35, 35);
}

.monitor.timetable .header {
    background-color: rgb(241, 86, 26);
    color: rgb(255, 255, 255);
    padding: 2px 6px;
    font-size: 18px;
}

.monitor.timetable .time_now {
    font-size: 14px;
}

.monitor.timetable .title {
    padding: 10px 6px 14px;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.monitor.timetable .title .line .train_line {
    float: left;
    font-size: 42px;
}

.monitor.timetable .title .line_to {
    font-size: 34px;
    margin-left: 80px;
}

.monitor.timetable .title .line_through {
    font-size: 22px;
    margin-left: 80px;
    color: rgb(140, 140, 140);
}

.monitor.timetable .content ol,
.monitor.timetable .content ul,
.monitor.timetable .content li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.monitor.timetable .content .stations {
    float: left;
    font-size: 18px;
    padding-left: 10px;
}

.monitor.timetable .content .stations marquee {
    height: 160px;
}

.monitor.timetable .content .identifiers {
    float: right;
}

.monitor.timetable .content .identifiers li {
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 2px 6px;
    width: 102px;
    margin-bottom: 4px;
}
