@font-face {
    font-family: "TPFrank";
    font-weight: 400;
    src: url(../fonts/tpfrank-regular.eot);
    src: url(../fonts/tpfrank-regular.eot#?iefix) format("embedded-opentype"),
         url(../fonts/tpfrank-regular.woff) format("woff"),
         url(../fonts/tpfrank-regular.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}

.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0;
}

.center { text-align: center !important; }
.left { text-align: left !important; }
.right { text-align: right !important; }
.top { vertical-align: top !important; }
.middle { vertical-align: middle !important; }
.bottom { vertical-align: bottom !important; }

body {
    background: rgb(255, 255, 255);
    font-family: "TPFrank";
    font-weight: 400;
    font-size: 16px;
    color: rgb(35, 35, 35);
    height: 100%;
    margin: 10px 16px;
}

h2 {
    font-size: 28px;
    border-left: 5px solid rgb(200, 200, 200);
    padding-left: 20px;
    margin: 0.85em 0;
}

h2:not(:first-child) { margin: 1.75em 0 0.85em; }

.material-icons {
    font-size: inherit;
    vertical-align: middle;
}

.sign {
    font-family: "TPFrank", "Roboto Condensed", sans-serif;
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 10px;
}

.sign .material-icons { font-size: 50px; }

.sign.station_name {
    background-color: rgb(241, 86, 26);
    padding: 12.5px 20px;
    text-align: center;
}

.sign.station_name.alternate {
    background-color: rgb(35, 35, 35);
    border-top: 5px solid rgb(241, 86, 26);
    padding: 10px 20px;
}

.sign.platform_sign {
    padding: 30px 40px;
    border-left: 5px solid rgb(251, 86, 26);
    border-right: 5px solid rgb(251, 86, 26);
}

.sign.platform_sign .platform_sign_text {
    margin-left: 10px;
    vertical-align: middle;
}

.sign.platform_sign.platform_number {
    display: inline-block;
    padding: 30px 20px;
    text-align: center;
}

.sign.platform_sign .platform_sign_number {
    font-size: 102px;
}

.sign.platform_sign.platform_lines {
    padding: 30px 80px;
}

.sign.train_line {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 60px;
    padding: 10px;
    border-radius: 12px;
}


.train_line.line_t1  { background: rgb(241, 141, 0); }
.train_line.line_t2  { background: rgb(77, 156, 45); }
.train_line.line_t3  { background: rgb(242, 103, 43); }
.train_line.line_t4  { background: rgb(0, 130, 189); }
.train_line.line_t5  { background: rgb(195, 74, 153); }
.train_line.line_t6  { background: rgb(54, 96, 147); }
.train_line.line_t7  { background: rgb(154, 164, 169); }
