/*
// TPFrank 200 (thin)
*/
@font-face {
    font-family: "TPFrank-Thin";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/tpfrank-thin.eot");
    src: url("../fonts/tpfrank-thin.eot?#iefix") format("embedded-opentype"),
         url("../fonts/tpfrank-thin.woff") format("woff"),
         url("../fonts/tpfrank-thin.ttf") format("truetype"),
         url("../fonts/tpfrank-thin.otf") format("opentype"),
         url("../fonts/tpfrank-thin.svg#tpfrank") format("svg");

/*
// TPFrank 300 (light)
*/
@font-face {
    font-family: "TPFrank-Light";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/tpfrank-light.eot");
    src: url("../fonts/tpfrank-light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/tpfrank-light.woff") format("woff"),
         url("../fonts/tpfrank-light.ttf") format("truetype"),
         url("../fonts/tpfrank-light.otf") format("opentype"),
         url("../fonts/tpfrank-light.svg#tpfrank") format("svg");

/*
// TPFrank 400 (regular)
*/
@font-face {
    font-family: "TPFrank-Regular";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/tpfrank-regular.eot");
    src: url("../fonts/tpfrank-regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/tpfrank-regular.woff") format("woff"),
         url("../fonts/tpfrank-regular.ttf") format("truetype"),
         url("../fonts/tpfrank-regular.otf") format("opentype"),
         url("../fonts/tpfrank-regular.svg#tpfrank") format("svg");

/*
// TPFrank 500 (medium)
*/
@font-face {
    font-family: "TPFrank-Medium";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/tpfrank-medium.eot");
    src: url("../fonts/tpfrank-medium.eot?#iefix") format("embedded-opentype"),
         url("../fonts/tpfrank-medium.woff") format("woff"),
         url("../fonts/tpfrank-medium.ttf") format("truetype"),
         url("../fonts/tpfrank-medium.otf") format("opentype"),
         url("../fonts/tpfrank-medium.svg#tpfrank") format("svg");

/*
// TPFrank 600 (bold)
*/
@font-face {
    font-family: "TPFrank-Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/tpfrank-bold.eot");
    src: url("../fonts/tpfrank-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/tpfrank-bold.woff") format("woff"),
         url("../fonts/tpfrank-bold.ttf") format("truetype"),
         url("../fonts/tpfrank-bold.otf") format("opentype"),
         url("../fonts/tpfrank-bold.svg#tpfrank") format("svg");

@font-face {
    font-family: "TPFrank-Bold";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/tpfrank-bold.eot");
    src: url("../fonts/tpfrank-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/tpfrank-bold.woff") format("woff"),
         url("../fonts/tpfrank-bold.ttf") format("truetype"),
         url("../fonts/tpfrank-bold.otf") format("opentype"),
         url("../fonts/tpfrank-bold.svg#tpfrank") format("svg");

/*
// TPFrank 700 (extrabold)
*/
@font-face {
    font-family: "TPFrank-Black";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/tpfrank-extrabold.eot");
    src: url("../fonts/tpfrank-extrabold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/tpfrank-extrabold.woff") format("woff"),
         url("../fonts/tpfrank-extrabold.ttf") format("truetype"),
         url("../fonts/tpfrank-extrabold.otf") format("opentype"),
         url("../fonts/tpfrank-extrabold.svg#tpfrank") format("svg");
